
@mixin large-text {
    font: {
      family: Arial;
      size: 20px;
      weight: bold;
    }
    color: #ff0000;
}
@mixin default-border($colorAsh, $width1) {
    border: {
      color: $colorAsh;
      width: $width1;
      style: solid;
    }
  }