html, body, ul, ol {
    margin: 0;
    padding: 0;
  }
body {
    font: 100% Helvetica, sans-serif;
    background-color: #efefef;
}
// Import SCSS files here

@import 'variables.scss';
@import 'mixins.scss';
.ts-widget{
    @include default-border(); 
    padding: $padding15;
    background-color: $white;
    border-radius: $br5;
}
.ts-widget-title {
    @include large-text;
    @include default-border(#f00, 1px); 
    padding: 4px;
    margin-top: 10px;
  }