html, body, ul, ol {
    margin: 0;
    padding: 0;
  }
body {
    // font: 100% Helvetica, sans-serif;
    background-color: #efefef;
}
*, ::after, ::before {
    box-sizing: border-box;
}
// Import SCSS files here
@import 'variables.scss';
@import 'mixins.scss';
@import './components/panel.scss';
@import './components/widget.scss';
@import './components/fields.scss';

