
// Borders
$border: 1px solid #ccc;

// Paddings
$padding0: 0px;
$padding5: 5px;
$padding10: 10px;
$padding15: 15px;
$padding20: 20px;

// Margins
$margin0: 0px;
$margin5: 5px;
$margin10: 10px;
$margin15: 15px;
$margin20: 20px;

// Widths
$width100: 1px;
$width100: 100px;

// Colors
$colorGreen: #00ff00;