
// Borders
$border: 1px solid #ccc;

// Border Radius
$br5: 5px;

// Paddings
$padding0: 0px;
$padding5: 5px;
$padding10: 10px;
$padding15: 15px;
$padding20: 20px;

// Margins
$margin0: 0px;
$margin5: 5px;
$margin10: 10px;
$margin15: 15px;
$margin20: 20px;

// Widths
$width1: 1px;
$width100: 100px;

// Colors
$white: #ffffff;
$green: #00ff00;
$ash: #ccc;
$lightGray:#cdcdcd;
$panelBg:#f2f2f2;