
// Borders
$border: 1px solid #ccc;

// Border Radius
$br3: 3px;
$br5: 5px;

//Box Shadows
$boxShadow: 0px 0px 5px #000000;

// Colors
$white: #ffffff;
$black: #000000;
$green: #00ff00;
$ash: #ccc;
$gray: #999999;
$lightGray:#cdcdcd;
$panelBg:#f2f2f2;
$primary: #2399e5;
$primaryHover: #1f89ce;

// Paddings
$padding0: 0px;
$padding5: 5px;
$padding7: 7px;
$padding10: 10px;
$padding15: 15px;
$padding20: 20px;

// Margins
$margin0: 0px;
$margin5: 5px;
$margin10: 10px;
$margin15: 15px;
$margin20: 20px;

// Widths
$width1: 1px;
$width100: 100px;
$width150: 150px;
$vw100: 100vw;

// Heights
$vh100: 100vh;

