.ts-table{
    table{
        @include tableBorder();
        border-collapse: collapse;
        width: 100%;
        thead{
            tr{
                th{
                    background-color: $tableHeadBg;
                    text-align: left;
                    border-right: 1px solid #ccc;
                    padding: $padding5;
                }
            }
        }
        tbody{
            tr{
                td{
                    background-color: $white;
                    @include tableBorder();
                    padding: $padding5;
                    
                    &:hover{
                        background-color: $tableHoverBg;
                    }
                }
                &:nth-of-type(even){
                    td{
                        background-color: $tableEvenBg;
                    }
                }
            }
        }
    }
}